/* Tamaño máximo para celdas de texto */
.text-truncate {
    max-width: 250px;
}

/* Contenedor de la imagen */
.image-prod-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Transición suave para agrandar */
}

/* Imagen ajustada al contenedor */
.image-prod-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-content {
    width: 4rem;
}
.product-row {
    cursor: pointer;
}
#message-empty {
    display: none;
}