.flex-shrink-0 {
    width: 30px; 
    height: 30px;
}
.img-fluid {
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}
.text-truncate {
    max-width: 150px;
}
.btn-search {
    background-color: #1B9FA3 !important;
    color: #fff;
    transition: 0.5s;
}
.btn-search:hover {
    background-color: #fff !important;
    color: #1B9FA3;
    border: solid 1px #1B9FA3;
}
#message-empty {
    display: none;
}