.input-group-text {
    background-color: #CFCFCF;
}

#descriptionInput {
    height: 6.2rem;
}
/* ------------------------------------------------ */
/* Ocultar los controles de número en Input de tipo number */
.no-arrows {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    appearance: none; /* Navegadores modernos */
}

/* Ocultar los controles de número en navegadores WebKit (Safari y Chrome) */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* ------------------------------------------------- */
/* Drag and drop */
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    transition: 0.2s;
    text-align: center;
}

/* Clase que se añade cuando un archivo está siendo arrastrado sobre el área */
.file-drop-area.dashed {
    border-style: dashed;
    border-width: 2px;
    border-color: #1B9FA3;
}

.fake-btn {
    box-sizing: border-box;
    flex-shrink: 0;
    background-color: #1B9FA3;
    color: #fff;
    padding: 15px 15px;
    border: 1px solid #1B9FA3;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.fake-btn:hover {
    background-color: #fff;
    color: #1B9FA3;
    border-color: #1B9FA3;
}

.file-drop-area:hover .fake-btn {
    background-color: #fff;
    color: #1B9FA3;
    border-color: #1B9FA3;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.remove-image-btn {
    z-index: 1;
    display: none; /* Ocultar por defecto */
    box-sizing: border-box;
    flex-shrink: 0;
    background-color: #FF4C4C; /* Rojo para indicar eliminar */
    color: #fff;
    padding: 15px 15px;
    border: 1px solid #FF4C4C;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.remove-image-btn:hover {
    background-color: #fff;
    color: #FF4C4C;
    border-color: #FF4C4C;
}


/* Contenedor de la imagen con relación de aspecto */
.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Ajusta la relación de aspecto aquí (75% para 4:3) */
    overflow: hidden;
    border-radius: 5px;
}

/* Imagen ajustada al contenedor */
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la imagen con relación de aspecto */
}
